<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=\, initial-scale=1.0" />
    <title>My reddit</title>
</head>

<body>
  <h1>Welcome to my page</h1>
  <ul>
    <% for (let name of subredditNames) { %>
      <li><a href="/r/<%= name %>"><%= name %></a></li>
    <% } %>
    </ul>
</body>

</html>